{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ bar_nombre }}{% endblock %}

{% block body_block %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>{{ bar_nombre }}</h1>
            </div>
        </div>

        <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                {% if bar %}    
                    {% if tapas %}
                        <ul class="list-group">
                            {% for tapa in tapas %}
                                <li class="list-group-item"><a href="">{{ tapa.nombre }} - votos: {{ tapa.votos }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>No hay tapas para mostrar.</strong>
                    {% endif %}
                {% else %}
                    <strong>El bar no existe</strong>
                {% endif %}
            </div>
        </div>
        <p> visitas: {{ bar_visitas }}</p>
{% endblock %}